@tailwind base;
@tailwind components;
@tailwind utilities;

.ais-SearchBox-input {
    border-radius: none !important;
    box-shadow: none !important;
}

/* .ais-SearchBox-form::before {
    background: none !important;
} */